*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    animation-name: steadybounce;
    animation-duration: 3s;
    animation-iteration-count: initial;
}
body img{
    animation-name: steadybounce;
    animation-duration: 3s;
    animation-iteration-count: initial;
}
body h1{
    animation-name: steadybounce;
    animation-duration: 3s;
    animation-iteration-count: initial;
}
body h2{
    animation-name: steadybounce;
    animation-duration: 3s;
    animation-iteration-count: initial;
}
body h3{
    animation-name: steadybounce;
    animation-duration: 3s;
    animation-iteration-count: initial;
}
body h4{
    animation-name: steadybounce;
    animation-duration: 3s;
    animation-iteration-count: initial;
}
body p{
    animation-name: steadybounce;
    animation-duration: 3s;
    animation-iteration-count: initial;
}
body section{
    animation-name: steadybounce;
    animation-duration: 3s;
    animation-iteration-count: initial;
}
body div{
    animation-name: steadybounce;
    animation-duration: 3s;
    animation-iteration-count: initial;
}

.wrapper{
    background-color: #f5f5ee;
    /* width: 80%;
    margin: auto; */
}
.navs{
    padding: 20px;
    background-color: #2C1762;
}

header{
    /* border: 2px solid black; */
    background-color: #2C1762;
    width: 100%;
    /* height: 2px; */
    position: fixed;
    z-index: 1000;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid white; */
    /* font-size: 2000px; */
}
.logo{
    width: 170px;
    position: relative;
    top: -5px;
}
.btn{
    background-color: white;
    color: #5D2ED1;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    width: 120px;
    height: 50px;
    font-weight: 600;
    
}
.btn:hover{
    background-color: white;
    color: #5D2ED1;
}
.nav-link{
    color: #222;
}

.dropdown:hover .dropdown-menu{
    display: block;
    /* background-color: green; */
    padding: 7px;

}
.leftt-side{
    display: flex;

}
.right-side{
    display: flex;
    gap: 5em;
}
.links{
    color: #6a5fbd;
    font-size: 17px;
    text-align: center;
}
.links-1{
    color: white;
    font-size: 17px;
}
.links:hover{
    color: #EF0F65;
}
.links-1:hover{
    color: #EF0F65;
}



ul li img{
    width: 45px;
}
.drop{
    display: flex;
    align-items: center;
    /* border: 3px solid green; */
    padding: 5px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    gap: 1em;
    width: 300px;
}
.pp{
    width: 300px;
    height: 100px;
}
.ll{
    margin-top: 0px;
    position: absolute;
    top: 120px;
}
.dd{
    position: absolute;
    top: 210px;
}
.drop:hover{
    background-color: #FFE5F1;
}
.drop-h1{
    margin: 1px;
    font-size: 16px;
    font-weight: 700;
    /* border: 2px solid black; */
}
.drop-p{
    width: 200px;
    /* border: 2px solid red; */
}




.hero-sect{
    background-image: linear-gradient(90deg, #2C1762,#2C1762, #E70673);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.2em;
    padding-top: 90px;
    /* width: 100%; */
    margin-bottom: 20px;
}
.left-sidee{
    animation-name: steadybounce;
    animation-duration: 3s;
    animation-iteration-count: initial;
}
.hero-sect div h1{
    color: white;
    margin-bottom: 25px;
    font-size: 49px;
    font-weight: 700;
}
.hero-sect div h4{
    color: white;
    margin-bottom: 100px;
    font-size: 25px;
}
.society{
    display: flex;
    align-items: center;
    gap: 1em;
}
.society-p{
    color: white;
}
.hero-sect .right-sidee img{
    padding-top: 30px;
    width: 400px;
    left: 20px;
    z-index: 700;
    position: relative;
}
.zig{
    position: absolute;
    right: 130px;
    top: 150px;
    opacity: 0.5;
    /* z-index: 100; */
    
}
@keyframes steadybounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}
.down{
    background-color: white;
    padding: 10px;
    display: flex;
    gap: 1em;
}
.down img{
    color: red;
}
.cart{
    position: absolute;
    width: 130px;
    right: 150px;
    z-index: 700;
    top: 280px;
}
.circle{
    width: 70px;
    position: absolute;
    top: 500px;
    right: 650px;
}
.line{
    position: absolute;
    opacity: 0.5;
    top: 650px;
    right: 50px;
    z-index: 200;
}

/* media */
@media(max-width:1355px){
    .zig{
        right: 70px;
    }
    .circle{
        right: 500px;
    }
}
@media(max-width:1240px){
    .zig{
        width: 450px;
    }
    .circle{
        right: 480px;
    }
}
@media(max-width:1165px){
    .hero-sect div h1{
        font-size: 40px;
    }
    .hero-sect div h4{
        font-size: 20px;
    }
}
@media(max-width:1060px){
    .hero-sect .right-sidee img{
        width: 350px;
    }
    .zig{
        width: 400px;
    }
    .circle{
        right: 420px;
    }
    .line{
        top: 550px;
    }
}
@media(max-width:1000px){
    .hero-sect{
        background-image: linear-gradient(180deg, #2C1762,#2C1762, #E70673);
        display: block;
        align-items: center;
        padding-top: 140px;
    }
    .hero-sect div h1{
        text-align: center;
        font-size: 55px;
    }
    .hero-sect div h4{
        text-align: center;
        font-size: 30px;
    }
    .hero-sect .right-sidee img{
        /* position: relative; */
        width: 400px;
        left: 290px;
    }
    .society{
        width: 50%;
        position: relative;
        left: 280px;
    }
    .zig{
        display: none;
    }
    .cart{
        display: none;
    }
    .circle{
        display: none;
    }
    .line{
        display: none;
    }
}
@media(max-width:835px){
    .society{
        left: 200px;
    }
    .hero-sect .right-sidee img{
        left: 210px;
    }
}
@media(max-width:784px){
    .hero-sect div h1{
        font-size: 48px;
    }
    .hero-sect div h4{
        font-size: 22px;
    }
    .society{
        /* border: 2px solid black; */
        left: 180px;
        width: 600px;
    }
    .hero-sect .right-sidee img{
        left: 190px;
    }
}
@media(max-width:638px){
    .hero-sect div h1{
        font-size: 40px;
    }
    .hero-sect div h4{
        font-size: 18px;
        margin-bottom: 50px;
    }
    .society{
        left: 130px;
        font-size: 15px;
    }
    .society img{
        width: 35px;
    }
    .society .ndic{
        width: 70px;
    }
    .hero-sect .right-sidee img{
        left: 140px;
    }
}
@media(max-width:507px){
    .hero-sect div h1{
        font-size: 35px;
    }
    .society{
        left: 85px;
    }
    .hero-sect .right-sidee img{
        left: 95px;
        width: 300px;
    }
}
@media(max-width:432px){
    .hero-sect{
        background-image: linear-gradient(180deg, #2C1762,#2C1762,#2C1762,#E70673);
    }
    .hero-sect div h1{
        font-size: 30px;
    }
    .hero-sect div h4{
        font-size: 16px;
        margin-bottom: 40px;
    }
    .society{
        gap: 0.7em;
        left: 70px;
    }
    .society img{
        width: 28px;
    }
    .society .ndic{
        width: 50px;
    }.hero-sect .right-sidee img{
        left: 80px;
    }
    .zig{
        display: block;
        right: 0px;
        width: 300px;
        top: 450px;
    }
}
@media(max-width:371px){
    .hero-sect div h1{
        font-size: 24px;
        line-height: 30px;
    }
    .hero-sect div h4{
        font-size: 15px;
    }
    .society{
        /* border: 2px solid yellow; */
        width: 270px;
        left: 29px;
    }
    .society p{
        font-size: 12px;
    }
    .hero-sect .right-sidee img{
        left: 40px;
        width: 270px;
    }
}
@media(max-width:300px){
    .btn{
        padding-bottom: 50px;
    }
    .society{
        left: 18px;
    }
    .hero-sect .right-sidee img{
        left: 19px;
    }
}



/* section-2 */

.section-2{
    margin-top: 20px;
    /* border: 2px solid green; */
    background-color: #F7F3FF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    margin-bottom: 140px;
    /* border: 2px solid red; */
}
.section-2 h1{
    color: #2C1762;
    font-size: 40px;
    font-weight: 750;
}
.red{
    position: absolute;
    width: 150px;
    right: 170px;
    top: 40px;
    /* z-index: ; */
}
.ladies{
    width: 350px;
    border-radius: 15px;
    /* z-index: 1000; */
    position: relative;
}
@media(max-width:1200px){
    .red{
        display: none;
    }
}
@media(max-width:975px){
    .section-2 h1{
        font-size: 30px;
    }
    .ladies{
        width: 250px;
    }
    .red{
        display: none;
    }
}
@media(max-width:697px){
    .section-2{
        display: block;
        text-align: center;
    }
    .section-2 h1{
        font-size:35px ;
        margin-bottom: 30px;
    }
    .ladies{
        width: 350px;
    }
    .red{
        display: none;
    }
}
@media(max-width:638px){
    .section-2{
        margin-bottom: 190px;
    }
}
@media(max-width:401px){
    .section-2{
        margin-bottom: 80px;
    }
}
@media(max-width:450px){
    .section-2 h1{
        font-size: 26px;
    }
    .ladies{
        width: 250px;
    }
}


.money{
    /* border: 3px solid red; */
    position: absolute;
    background-color: #ffff;
    box-shadow: 0px 0px 2px 2px #f16ea0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 50px;
    top: 1070px;
    left: 250px;
    height: 150px;
    width: 1000px;

}
.money p{
    font-size: 20px;
    color: #5A617C;
    font-weight: 400;

}

.money img{
    width: 50px;
    padding: 5px;
}
.img1{
    background-color: #FF0475;
}
.img2{
    background-color: #4EF1E0;
}
.img3{
    background-color: #B48CFC;
}
.oo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
@media(max-width:1100px){
    .money{
        padding: 10px;
        display: block;
        height: auto;
        width: 400px;
        top: 1050px;
        left: 300px;
    }
    .money p{
        display: flex;
    }
    .money img{
        width: 30px;
    }
    .oo{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2em;
    }
    .pay{
        width: 170px;
    }
    
}
@media(max-width:1001px){
    .money{
        top: 1500px;
    }
}
@media(max-width:900px){
    .money{
        top: 1450px;
        width: 300px;
        padding: 5px;
        /* margin-bottom: 2px; */
    }
    hr{
        margin-bottom: 5px;
        margin-top: 2px;
    }
}
@media(max-width:800px){
    .money{
        top: 1450px;
        left: 200px;
        
    }
}
@media(max-width:697px){
    .money{
        top: 1620px;
        left: 150px;
    }
    .oo p{
        font-size: 18px;
    }
}
@media(max-width:501px){
    .money{
        top: 1350px;
        left: 115px;
    }
    .oo p{
        font-size: 17px;
    }
}
@media(max-width:401px){
    .money{
        top: 1350px;
        left: 100px;
        width: 200px;
        top: 1220px;
        height: 160px;
    }
    hr{
        margin-bottom: 5px;
        margin-top: 2px;
    }
    .oo p{
        font-size: 15px;
    }
    .pay{
        /* width: 50px; */
        font-size: 15px;
        /* border: 2px solid red; */
        line-height: 17px;
    }
}
@media(max-width:360px){
    .money{
        top: 1180px;
        left: 80px;
        height: 170px;
    }
}


/* section-3 */
.section-3{
    background-color: #ffff;
    padding: 20px;
    width: 85%;
    margin: auto;
}
.section-33{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    gap: 5em;
}
.section-33 div h1{
    color: #2C1762;
    font-size: 40px;
    font-weight: 700;
}
.section-33 div p{
    color: #5A617C;
    font-size: 18px;
    font-weight: 400;
}
.section-3 div img{
    width: 450px;
    /* border: 2px solid red; */
}

@media(max-width:991px){
    .section-33{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .section-33 div img{
        position: absolute;
        left: 25%;
    }
}
@media(max-width:635px){
    .section-33 div img{
        width: 350px;
    }
}
@media(max-width:450px){
    .section-33 div img{
        width: 300px;
        left: 5%;
    }
    .section-33 div p{
        margin-bottom: 50px;
    }
}
@media(max-width:337px){
    .section-33 div img{
        width: 250px;
        left: 10%;
    }
}
