* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.wrapper {
    background-color: #f5f5ee;
    /* width: 80%;
    margin: auto; */
}

.navs {
    padding: 20px;
    background-color: #2C1762;
}

header {
    /* border: 2px solid black; */
    background-color: #2C1762;
    width: 100%;
    /* height: 2px; */
    position: fixed;
    z-index: 1000;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid white; */
    /* font-size: 2000px; */
}

.logo {
    width: 170px;
    position: relative;
    top: -5px;
}

.btn {
    background-color: white;
    color: #5D2ED1;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    width: 120px;
    height: 50px;
    font-weight: 600;

}

.btn:hover {
    background-color: white;
    color: #5D2ED1;
}

.nav-link {
    color: #222;
}

.dropdown:hover .dropdown-menu {
    display: block;
    /* background-color: green; */
    padding: 7px;

}

.leftt-side {
    display: flex;

}

.right-side {
    display: flex;
    gap: 5em;
}

.links {
    color: #6a5fbd;
    font-size: 17px;
    text-align: center;
}

.links-1 {
    color: white;
    font-size: 17px;
}

.links:hover {
    color: #EF0F65;
}

.links-1:hover {
    color: #EF0F65;
}



ul li img {
    width: 45px;
}

.drop {
    display: flex;
    align-items: center;
    /* border: 3px solid green; */
    padding: 5px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    gap: 1em;
    width: 300px;
}

.pp {
    width: 300px;
    height: 100px;
}

.ll {
    margin-top: 0px;
    position: absolute;
    top: 120px;
}

.dd {
    position: absolute;
    top: 210px;
}

.drop:hover {
    background-color: #FFE5F1;
}

.drop-h1 {
    margin: 1px;
    font-size: 16px;
    font-weight: 700;
    /* border: 2px solid black; */
}

.drop-p {
    width: 200px;
    /* border: 2px solid red; */
}




.hero-sect {
    background-image: linear-gradient(90deg, #2C1762, #2C1762, #E70673);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.2em;
    padding-top: 90px;
    /* width: 100%; */
    margin-bottom: 20px;
}

.left-sidee {
    animation-name: steadybounce;
    animation-duration: 3s;
    animation-iteration-count: initial;
}

.hero-sect div h1 {
    color: white;
    margin-bottom: 25px;
    font-size: 49px;
    font-weight: 700;
}

.hero-sect div h4 {
    color: white;
    margin-bottom: 100px;
    font-size: 25px;
}

.society {
    display: flex;
    align-items: center;
    gap: 1em;
}

.society-p {
    color: white;
}

.hero-sect .right-sidee img {
    padding-top: 30px;
    width: 400px;
    left: 20px;
    z-index: 700;
    position: relative;
}

.zig {
    position: absolute;
    right: 130px;
    top: 150px;
    opacity: 0.5;
    /* z-index: 100; */

}

@keyframes steadybounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.down {
    background-color: white;
    padding: 10px;
    display: flex;
    gap: 1em;
}

.down img {
    color: red;
}

.cart {
    position: absolute;
    width: 130px;
    right: 150px;
    z-index: 700;
    top: 280px;
}

.circle {
    width: 70px;
    position: absolute;
    top: 500px;
    right: 650px;
}

.line {
    position: absolute;
    opacity: 0.5;
    top: 650px;
    right: 50px;
    z-index: 200;
}

/* media */
@media(max-width:1355px) {
    .zig {
        right: 70px;
    }

    .circle {
        right: 500px;
    }
}

@media(max-width:1240px) {
    .zig {
        width: 450px;
    }

    .circle {
        right: 480px;
    }
}

@media(max-width:1165px) {
    .hero-sect div h1 {
        font-size: 40px;
    }

    .hero-sect div h4 {
        font-size: 20px;
    }
}

@media(max-width:1060px) {
    .hero-sect .right-sidee img {
        width: 350px;
    }

    .zig {
        width: 400px;
    }

    .circle {
        right: 420px;
    }

    .line {
        top: 550px;
    }
}

@media(max-width:1000px) {
    .hero-sect {
        background-image: linear-gradient(180deg, #2C1762, #2C1762, #E70673);
        display: block;
        align-items: center;
        padding-top: 140px;
    }

    .hero-sect div h1 {
        text-align: center;
        font-size: 55px;
    }

    .hero-sect div h4 {
        text-align: center;
        font-size: 30px;
    }

    .hero-sect .right-sidee img {
        /* position: relative; */
        width: 400px;
        left: 290px;
    }

    .society {
        width: 50%;
        position: relative;
        left: 280px;
    }

    .zig {
        display: none;
    }

    .cart {
        display: none;
    }

    .circle {
        display: none;
    }

    .line {
        display: none;
    }
}

@media(max-width:835px) {
    .society {
        left: 200px;
    }

    .hero-sect .right-sidee img {
        left: 210px;
    }
}

@media(max-width:784px) {
    .hero-sect div h1 {
        font-size: 48px;
    }

    .hero-sect div h4 {
        font-size: 22px;
    }

    .society {
        /* border: 2px solid black; */
        left: 180px;
        width: 600px;
    }

    .hero-sect .right-sidee img {
        left: 190px;
    }
}

@media(max-width:638px) {
    .hero-sect div h1 {
        font-size: 40px;
    }

    .hero-sect div h4 {
        font-size: 18px;
        margin-bottom: 50px;
    }

    .society {
        left: 130px;
        font-size: 15px;
    }

    .society img {
        width: 35px;
    }

    .society .ndic {
        width: 70px;
    }

    .hero-sect .right-sidee img {
        left: 140px;
    }
}

@media(max-width:507px) {
    .hero-sect div h1 {
        font-size: 35px;
    }

    .society {
        left: 85px;
    }

    .hero-sect .right-sidee img {
        left: 95px;
        width: 300px;
    }
}

@media(max-width:432px) {
    .hero-sect {
        background-image: linear-gradient(180deg, #2C1762, #2C1762, #2C1762, #E70673);
    }

    .hero-sect div h1 {
        font-size: 30px;
    }

    .hero-sect div h4 {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .society {
        gap: 0.7em;
        left: 70px;
    }

    .society img {
        width: 28px;
    }

    .society .ndic {
        width: 50px;
    }

    .hero-sect .right-sidee img {
        left: 80px;
    }

    .zig {
        display: block;
        right: 0px;
        width: 300px;
        top: 450px;
    }
}

@media(max-width:371px) {
    .hero-sect div h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .hero-sect div h4 {
        font-size: 15px;
    }

    .society {
        /* border: 2px solid yellow; */
        width: 270px;
        left: 29px;
    }

    .society p {
        font-size: 12px;
    }

    .hero-sect .right-sidee img {
        left: 40px;
        width: 270px;
    }
}

@media(max-width:300px) {
    .btn {
        padding-bottom: 50px;
    }

    .society {
        left: 18px;
    }

    .hero-sect .right-sidee img {
        left: 19px;
    }
}



/* section-2 */

.section-2 {
    margin-top: 20px;
    /* border: 2px solid green; */
    background-color: #F7F3FF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    margin-bottom: 140px;
    /* border: 2px solid red; */
}

.section-2 h1 {
    color: #2C1762;
    font-size: 40px;
    font-weight: 750;
}

.red {
    position: absolute;
    width: 150px;
    right: 170px;
    top: 40px;
    /* z-index: ; */
}

.ladies {
    width: 350px;
    border-radius: 15px;
    /* z-index: 1000; */
    position: relative;
}

@media(max-width:1200px) {
    .red {
        display: none;
    }
}

@media(max-width:975px) {
    .section-2 h1 {
        font-size: 30px;
    }

    .ladies {
        width: 250px;
    }

    .red {
        display: none;
    }
}

@media(max-width:697px) {
    .section-2 {
        display: block;
        text-align: center;
    }

    .section-2 h1 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .ladies {
        width: 350px;
    }

    .red {
        display: none;
    }
}

@media(max-width:638px) {
    .section-2 {
        margin-bottom: 190px;
    }
}

@media(max-width:401px) {
    .section-2 {
        margin-bottom: 90px;
    }
}

@media(max-width:450px) {
    .section-2 h1 {
        font-size: 26px;
    }

    .ladies {
        width: 250px;
    }
}


.money {
    /* border: 3px solid red; */
    position: absolute;
    background-color: #ffff;
    box-shadow: 0px 0px 2px 2px #f16ea0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 50px;
    top: 1070px;
    left: 250px;
    height: 150px;
    width: 1000px;

}

.money p {
    font-size: 20px;
    color: #5A617C;
    font-weight: 400;

}

.money img {
    width: 50px;
    padding: 5px;
}

.img1 {
    background-color: #FF0475;
}

.img2 {
    background-color: #4EF1E0;
}

.img3 {
    background-color: #B48CFC;
}

.oo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

@media(max-width:1100px) {
    .money {
        padding: 10px;
        display: block;
        height: auto;
        width: 400px;
        top: 1050px;
        left: 300px;
    }

    .money p {
        display: flex;
    }

    .money img {
        width: 30px;
    }

    .oo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2em;
    }

    .pay {
        width: 170px;
    }

}

@media(max-width:1001px) {
    .money {
        top: 1500px;
    }
}

@media(max-width:900px) {
    .money {
        top: 1450px;
        width: 300px;
        padding: 5px;
        /* margin-bottom: 2px; */
    }

    hr {
        margin-bottom: 5px;
        margin-top: 2px;
    }
}

@media(max-width:800px) {
    .money {
        top: 1450px;
        left: 200px;

    }
}

@media(max-width:697px) {
    .money {
        top: 1620px;
        left: 150px;
    }

    .oo p {
        font-size: 18px;
    }
}

@media(max-width:501px) {
    .money {
        top: 1350px;
        left: 115px;
    }

    .oo p {
        font-size: 17px;
    }
}

@media(max-width:401px) {
    .money {
        top: 1350px;
        left: 100px;
        width: 200px;
        top: 1220px;
        height: 160px;
    }

    hr {
        margin-bottom: 5px;
        margin-top: 2px;
    }

    .oo p {
        font-size: 15px;
    }

    .pay {
        /* width: 50px; */
        font-size: 15px;
        /* border: 2px solid red; */
        line-height: 17px;
    }
}

@media(max-width:360px) {
    .money {
        top: 1160px;
        left: 65px;
        height: 170px;
    }
}


/* section-3 */
.section-3 {
    background-color: #ffff;
    padding: 20px;
    width: 85%;
    margin: auto;
    margin-bottom: 250px;
}

.section-33 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    gap: 5em;
}

.section-33 div h1 {
    color: #2C1762;
    font-size: 40px;
    font-weight: 700;
}

.section-33 div p {
    color: #5A617C;
    font-size: 18px;
    font-weight: 400;
}

.section-3 div img {
    width: 450px;
    /* border: 2px solid red; */
}

@media(max-width:991px) {
    .section-33 {
        display: block;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
    }

    .section-33 div img {
        position: absolute;
        left: 25%;
    }
}

@media(max-width:635px) {
    .section-33 div img {
        width: 350px;
    }
}

@media(max-width:450px) {
    .section-3 {
        margin-bottom: 150px;
    }

    .section-33 div img {
        width: 300px;
        left: 5%;
    }

    .section-33 div h1 {
        font-size: 25px;
    }

    .section-33 div p {
        margin-bottom: 50px;
    }

    .section-33 div img {
        width: 250px;
        left: 15%;
    }
}

@media(max-width:337px) {
    .section-33 div img {
        width: 250px;
        left: 15%;
    }
}


/* section-4 */

.section-4 {
    background-color: #EDFEFC;
    padding: 20px;
    width: 85%;
    margin: auto;
    margin-bottom: 170px;
}

.section-44 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    gap: 5em;
}

.section-44 div h1 {
    color: #2C1762;
    font-size: 40px;
    font-weight: 700;
}

.section-44 div p {
    color: #5A617C;
    font-size: 18px;
    font-weight: 400;
}

.section-4 div img {
    width: 450px;
    /* border: 2px solid red; */
}

@media(max-width:991px) {
    .section-44 {
        display: block;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .textt {
        margin-top: 330px;
    }

    .section-44 div img {
        position: absolute;
        left: 12px;
        top: -320px;
    }
}

@media(max-width:635px) {
    .section-44 div img {
        width: 350px;
    }
}

@media(max-width:450px) {
    .section-44 {
        flex-direction: column-reverse;
    }

    .section-44 div img {
        width: 300px;
        left: 5%;
    }

    .section-44 div h1 {
        font-size: 25px;
    }

    .section-44 div p {
        margin-bottom: 50px;
    }

    .section-44 div img {
        width: 250px;
        /* left: 15%; */
        top: -190px;
    }

    .textt {
        margin-top: 200px;
    }

}

@media(max-width:337px) {
    .section-44 div img {
        width: 220px;
        left: 15%;
    }

    .section-44 div img {
        left: 1px;
    }
}




/* section-5 */




.section-5 {
    background-color: #ffff;
    padding: 20px;
    width: 85%;
    margin: auto;
    margin-bottom: 170px;
}

.section-55 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    gap: 5em;
}

.section-55 div h1 {
    color: #2C1762;
    font-size: 40px;
    font-weight: 700;
}

.section-55 div p {
    color: #5A617C;
    font-size: 18px;
    font-weight: 400;
}

.section-5 div img {
    width: 450px;
    /* border: 2px solid red; */
}

@media(max-width:991px) {
    .section-55 {
        display: block;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .texttt {
        margin-top: 330px;
    }

    .section-55 div img {
        position: absolute;
        left: 12px;
        top: -320px;
    }
}

@media(max-width:635px) {
    .section-55 div img {
        width: 350px;
    }
}

@media(max-width:450px) {

    .section-55 div img {
        width: 300px;
        left: 5%;
    }

    .section-55 div h1 {
        font-size: 25px;
    }

    .section-55 div p {
        margin-bottom: 50px;
    }

    .section-55 div img {
        width: 280px;
        left: 7px;
        top: 280px;
        /* border:  2px solid red; */
    }

    .texttt {
        margin-top: 10px;
        margin-bottom: 200px;
    }

}

@media(max-width:337px) {
    .section-55 div img {
        width: 220px;
        left: 20px;
    }

    .section-55 div img {
        left: 1px;
    }
}


/* section-6 */


.section-6 div img {
    position: relative;
    width: 100%;
    height: 500px;
}

.section-6 div .textttt {
    /* position: absolute; */
    left: 800px;
    top: -350px;
    position: relative;
    /* border: 2px solid red; */
}

.textttt {
    width: 620px;
}

.textttt h1 {
    color: #FF0475;
    font-size: 40px;
    font-weight: 700;
}

.textttt p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.textttt span {
    color: #FF0475;
    font-family: 700;
}

@media(max-width:900px) {
    .section-6 div .textttt {
        left: 250px;
        top: -400px;
    }

    .textttt {
        width: 550px;
    }

    .textttt p {
        font-size: 18px;
    }
}

@media(max-width:400px) {
    .section-6 div .textttt {
        left: 10px;
        top: -450px;
    }

    .textttt {
        width: 365px;
    }

    .textttt p {
        font-size: 18px;
    }
}


.section-7 {
    padding: 50px;
    width: 80%;
    margin: auto;
    background-color: #EDFEFC;
    margin-bottom: 60px;
    border-radius: 20px;
}

.section-77 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img {
    width: 1000px;
    /* position: absolute; */
}

.section-77 div h1 {
    color: #2C1762;
    font-size: 40px;
    font-weight: 700;

}

.section-77 div p {
    color: #5A617C;
    font-size: 18px;
    font-weight: 400;
}

@media(max-width:700px) {
    .section-7 {
        padding: 10px;
        width: 90%;
    }

    .section-77 {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .section-77 div h1 {
        font-size: 30px;
    }
}


.section-8 {
    margin-top: 50px;
    padding: 40px;
    margin: auto;
    width: 80%;
    background-color: #FFE5F1;
    border-radius: 20px;
}

.section-88 {
    display: block;
    justify-content: center;
    align-items: center;
}

.section-8 h1 {
    color: #2C1762;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.a {
    background-color: #FB0475;
    padding: 15px;
    font-size: 22px;
    font-weight: 400;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    /* border: 2px solid green; */
    margin-left: 250px;
}

.a:hover {
    background-image: linear-gradient(90deg, #461565, #E80673);
    /* animation-name: hover; */
    animation-duration: 10s;
}

@keyframes hover {
    from {
        transform: s(10px);
    }

    to {
        transform: translate(10px);
    }
}

@keyframes text {
    from {
        transform: translate3d(0px);
    }

    to {
        transform: translate3d(200px);
    }
}


@media(max-width:700px) {
    .section-8 {
        padding: 10px;
        width: 90%;
    }

    .section-8 h1 {
        font-size: 30px;
    }

    .a {
        display: none;
    }
}




.section-9 {
    margin-top: 60px;
    margin-left: 100px;
    display: block;
    margin-bottom: 70px;
}

.section-99 {
    display: flex;
    gap: 4em;
    align-items: center;
}

.section-99 .one {
    display: block;
    background-color: white;
    padding-top: 30px;
    box-shadow: 0px 0px 3px 3px whitesmoke;
    width: 320px;
    border-radius: 20px;
    margin-bottom: 20px;

}

.section-9 h1 {
    font-size: 40px;
    font-weight: 600;
    color: #2C1762;
    margin-bottom: 30px;
}

.section-99 div h1 {
    font-size: 22px;
    padding: 5px;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    color: white;
    background-color: #2C1762;
}

.eee {
    padding-left: 10px;
    padding-right: 10px;
}

.section-99 div h2 {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}

.section-99 div span {
    font-size: 15px;
    font-weight: 400;
    color: #5A617C;
}

.section-99 div .img {
    margin-top: 50px;
    width: 100%;
    padding: 50px;
    align-items: center;
    justify-content: center;
    display: block;
    border-radius: 20px;
    background-color: #FF0575;
}

.wwww {
    margin-bottom: 10px;
}

.imgg {
    margin-top: 50px;
    width: 100%;
    border-radius: 20px;
    background-color: #FF0575;
    height: 250px;
}

.cccc {
    height: 300px;
    width: 300px;
    position: relative;
    top: -35px;
    /* padding: 10px; */
    /* border: 2px solid red; */
}
@media (max-width:900px){
    .section-99{
        display: block;
        
    }
}
@media (max-width:430px){
    .section-9{
        margin-left: 30px;
    }
    .section-9 h1{
        font-size: 30px;
    }
    .section-99{
        display: block;
        
    }
}


/* .section-88 {
    display: block;
    justify-content: center;
    align-items: center;
} */







.section-10{
    background-color: #FFF7FB;
    padding: 70px;
}
.section-10 div {
    width: 80%;
    margin; auto;
    display: block;
    /* border: 2px solid red; */
}
.section-10 h1{
    font-size: 40px;
    font-size: 600;
    color: #2C1762;
    margin-bottom: 30px;
    text-align: center;
}
.section-10 a{
    background-color: #F80574;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    /* text-align: center; */
}

@media(max-width:600px){
    .section-10{
        padding: 30px;
    }
    .section-10 h1{
        font-size: 30px;
    }
}
@media(max-width:400px){
    .section-10 h1{
        font-size: 20px;
    }
}



footer {
    /* margin-top: 70px; */
    background-color: #2C1762;
    padding-top: 80px;
    padding-bottom: 80px;
    display: block;
    align-items: center;
}

.footer {
    /* margin-buttom: 100px;   */
    margin-bottom: 100px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    margin: auto;
    /* border:  4px solid red; */
}

.part-1 .logo {
    width: 120px;
    /* border: 2px solid green; */
    margin-bottom: 40px;
}

.nigeria {
    border: 1px solid #ffff;
    display: flex;
    gap: 1em;
    height: 50px;
    margin-bottom: 40px;
    padding: 10px
}

.nigeria p {
    font-size: 15px;
    font-weight: 400;
    color: #B48CFC;
}

.part-1 h4 {
    font-size: 16px;
    font-weight: 600;
    color: #B48CFC;
    margin-bottom: 20px;
}

.part-1 a {
    font-size: 14px;
    font-weight: 500;
    color: #ffff;
    border-bottom: 3px solid #B48CFC;
    margin-bottom: 20px;
}

.part-1 p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.part-2 {
    height: 300px;
}

.part-2 h2 {
    color: #B48CFC;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 17px;
}

.part-2 li {
    font-size: 14px;
    /* border: 2px solid red; */
    /* width: 130px; */
    font-weight: 500;
    color: white;
    margin-bottom: 15px;
    list-style-type: none;
}

.q {
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin-bottom: 15px;
    text-decoration: none;
}



footer .accordion{
    width: 95%;
    margin: auto;
    display: none;
}
footer .part-6 h2{
    color: #7a50c7;
    font-size: 25px;
    font-weight: 700;
    /* margin-bottom: 17px; */
}
.r{
    font-size: 15px;
    font-weight:500;
    color: black;
    margin-bottom: 15px;
    text-decoration: none;
    list-style-type: none;
}




@media(max-width:1200px){
    .footer{
        gap: 7em;
    }
}
@media(max-width:980px){
    .footer{
        gap: 5em;
    }
}
@media(max-width:835px){
    .footer{
        gap: 3em;
    }
}
@media(max-width:700px){
    .footer{
        display: none;
    }
    footer .accordion{
        display: block;
    }
}
.medium{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    gap: 2em;
    margin-top: 90px;
    margin-bottom: 50px;
}
.one{
    display: flex;
    gap: 3em;
    /* padding-left: 2px; */
}
.two{
    display: flex;
    gap: 7em;
}

.last{
    margin-top: 30px;
    color: #BAB4C7;
    font-size: 10px;
    font-weight: 400;
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
@media(max-width:900px){
    .medium{
        margin-top: 50px;
        justify-content: space-evenly;
    }
}
@media(max-width:600px){
    .medium{
        margin-top: 50px;
        justify-content: center;
        display: block;
        margin-bottom: 20px;
    }
    .one{
        gap: 2em;
        margin-bottom: 5px;
    }
    .two{
        gap: 2em;
    }
}

