* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Graphik, sans-serif;
}

header {
    /* border: 2px solid black; */
    background-color: #2C1762;
    width: 100%;
    /* height: 2px; */
    position: fixed;
    z-index: 900;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid white; */
    /* font-size: 2000px; */
    top: 0px;
}

.logo {
    width: 170px;
    position: relative;
    top: -5px;
}

.btn {
    background-color: white;
    color: #5D2ED1;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    width: 120px;
    height: 50px;
    font-weight: 600;

}

.btn:hover {
    background-color: white;
    color: #5D2ED1;
}

.nav-link {
    color: #222;
}

.dropdown:hover .dropdown-menu {
    display: block;

}

.leftt-side {
    display: flex;

}

.right-side {
    display: flex;
    gap: 5em;
}

.links {
    color: #6a5fbd;
    font-size: 17px;
    text-align: center;
}

.links-1 {
    color: white;
    font-size: 17px;
}

.links:hover {
    color: #EF0F65;
}

.links-1:hover {
    color: #EF0F65;
}



ul li img {
    width: 45px;
}

.drop {
    display: flex;
    align-items: center;
    /* border: 3px solid green; */
    padding: 5px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    gap: 1em;
    width: 300px;
}

.pp {
    width: 300px;
    height: 100px;
}

.ll {
    margin-top: 0px;
    position: absolute;
    top: 120px;
}

.dd {
    position: absolute;
    top: 210px;
}

.drop:hover {
    background-color: #FFE5F1;
}

.drop-h1 {
    margin: 1px;
    font-size: 16px;
    font-weight: 700;
    color: black;
    /* border: 2px solid black; */
}

.drop-p {
    width: 200px;
    font-weight: 400;
    color: #212529;
    font-size: 16px;
    /* border: 2px solid red; */
}

.section-1 {
    position: static;
    top: 100px;
    margin: auto;
    width: 80%;
    box-shadow: 0px 0px 5px 5px #F6F6F6;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    margin-top: 90px;
}

.one-1 {
    background-color: #FFFFFF;
    padding: 25px;
    width: 400px;
    align-items: center;
    display: block;
}

.one-2 {
    background-color: #FFFFFF;
    padding: 25px;
    width: 400px;
    align-items: center;
    display: block;
    height: 467px;
}

.one-3 {
    background-color: #FFFFFF;
    padding: 25px;
    width: 400px;
    align-items: center;
    display: block;
    height: 467px;
}

.section-1 div h2 {
    font-size: 26px;
    color: #2C1762;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 40px;
}

.section-1 div p {
    font-size: 16px;
    color: #6B778C;
    font-weight: 400;
    margin-bottom: 80px;
}

.section-1 div a {
    text-decoration: none;
}

.section-1 div a:hover {
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}
@media(max-width:900px) {
    .div {
        display: block;
        width: auto;
    }

    .one-1 {
        margin-bottom: 90px;
        width: 350px;
    }

    .one-2 {
        margin-bottom: 20px;
        width: 350px;
    }

    .one-3 {
        margin-bottom: 20px;
        width: 350px;
    }
}
@media(max-width:400px){
    .one-1 {
        margin-bottom: 20px;
    }

    .one-2 {
        margin-bottom: 20px;
    }

    .one-3 {
        margin-bottom: 20px;
    }
}
.section-2{
    background-color: #FFE5F1;
    padding: 70px;
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    margin-top: 150px;
}
.section-2 h2{
    color: #2C1762;
    font-size: 40px;
    font-weight: 600;
}
.section-2 div p {
    font-size: 20px;
    color: #6B778C;
    font-weight: 400;
}
.section-2 div a{
    text-decoration: none;
}
.section-2 div a img{
    width: 40px;
}
@media(max-width:700px){
    .section-2{
        padding: 30px;
        width: 90%;
    }
    .section-2 h2{
        font-size: 30px;
        font-weight: 600;
    }
    .section-2 p{
        font-size: 16px;
    }
    .section-2 div a img{
        width: 30px;
    }
}








footer {
    background-color: #2C1762;
    padding-top: 80px;
    padding-bottom: 80px;
    display: block;
    align-items: center;
    margin-top: 50px;
}

.footer {
    /* margin-buttom: 100px;   */
    margin-bottom: 100px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    margin: auto;
    /* border:  4px solid red; */
}

.part-1 .logo {
    width: 120px;
    /* border: 2px solid green; */
    margin-bottom: 40px;
}

.nigeria {
    border: 1px solid #ffff;
    display: flex;
    gap: 1em;
    height: 50px;
    margin-bottom: 40px;
    padding: 10px;
}

.nigeria p {
    font-size: 15px;
    font-weight: 400;
    color: #B48CFC;
}

.part-1 h4 {
    font-size: 16px;
    font-weight: 600;
    color: #B48CFC;
    margin-bottom: 20px;
}

.part-1 a {
    font-size: 14px;
    font-weight: 500;
    color: #ffff;
    border-bottom: 3px solid #B48CFC;
    margin-bottom: 20px;
}

.part-1 p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.part-2 {
    height: 300px;
}

.part-2 h2 {
    color: #B48CFC;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 17px;
}

.part-2 li {
    font-size: 14px;
    /* border: 2px solid red; */
    /* width: 130px; */
    font-weight: 500;
    color: white;
    margin-bottom: 15px;
    list-style-type: none;
}

.q {
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin-bottom: 15px;
    text-decoration: none;
}



footer .accordion {
    width: 95%;
    margin: auto;
    display: none;
}

footer .part-6 h2 {
    color: #7a50c7;
    font-size: 25px;
    font-weight: 700;
    /* margin-bottom: 17px; */
}

.r {
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin-bottom: 15px;
    text-decoration: none;
}




@media(max-width:1200px) {
    .footer {
        gap: 7em;
    }
}

@media(max-width:980px) {
    .footer {
        gap: 5em;
    }
}

@media(max-width:835px) {
    .footer {
        gap: 3em;
    }
}

@media(max-width:700px) {
    .footer {
        display: none;
    }

    footer .accordion {
        display: block;
    }
}

.medium {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    gap: 2em;
    margin-top: 90px;
    margin-bottom: 50px;
}

.one {
    display: flex;
    gap: 3em;
    /* padding-left: 2px; */
}

.two {
    display: flex;
    gap: 7em;
}

.last {
    margin-top: 30px;
    color: #BAB4C7;
    font-size: 10px;
    font-weight: 400;
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

@media(max-width:900px) {
    .medium {
        margin-top: 50px;
        justify-content: space-evenly;
    }
}

@media(max-width:600px) {
    .medium {
        margin-top: 50px;
        justify-content: center;
        display: block;
        margin-bottom: 20px;
    }

    .one {
        gap: 2em;
        margin-bottom: 10px;
    }

    .two {
        gap: 2em;
    }
}