*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Graphik, sans-serif;
    list-style-type: none;
    text-decoration: none;
}
body{
    background-color: #FFFFFF;
}
img{
    color: #FAF6FD;
    width: 100%;
    position: relative;
    left: 0px;
}
.img{
    color: #FAF6FD;
    width: 100%;
    position: absolute;
    height: 203px;
}
h1{
    color: #2C1762;
    font-weight: 700;
    font-size: 51.2px;
    font-style: normal;
    /* line-height: 40px; */
    margin-bottom: 30px;
    width: 500px;
    position: absolute;
    left: 130px;
    top: 90px;
    animation-name: section-1;
    animation-duration: 1s;
}
@keyframes section-1 {
    from{
        transform: translateY(70px);
    }
    to{
        transform: translateY(0px);
    }
}
@media(max-width:1064px){
    h1{
        top: 60px;
    }
}
@media(max-width:935px){
    h1{
        top: 40px;
    }
}
@media(max-width:798px){
    h1{
        font-size: 45px;
        left: 100px;
        top: 25px;
    }
}
@media(max-width:681px){
    h1{
        /* border: 2px solid red; */
        width: 400px;
        font-size: 30px;
        left: 30px;
        top: 40px;
    }
}
@media(max-width:418px){
    h1{
        top: 20px;
        width: 200px;
        font-size: 20px;
    }
}
@media(max-width:320px){
    h1{
        top:20px
    }
}
@media(max-width:290px){
    h1{
        font-size: 17px;
        left: 20px;
        top: 10px;
    }
}
@media(max-width:243px){
    h1{
        top: 10px;
        font-size: 15px;
    }
}



.section-3{
    background-color: #EDFEFC;
    padding: 120px;
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 30px;
}
.section-3 h2{
    margin-bottom: 80px;
    color: #2C1762;
    font-size: 30px;
    font-weight: 600;
    /* border: 2px solid red; */
    animation-name: text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.section-3 a{
    background-color: #FB0475;
    padding: 20px;
    font-size: 22px;
    font-weight: 400;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.section-3 a:hover{
    background-image: linear-gradient(90deg,#461565, #E80673);
    /* animation-name: hover; */
    animation-duration: 10s;
}
@keyframes hover {
    from{
        transform: s(10px);
    }
    to{
        transform: translate(10px);
    }
}

@keyframes text{
    from{
        transform: translate3d(0px);
    }
    to{
        transform: translate3d(200px);
    }
}
@media(max-width:1083px){
    .section-3{
        width: 95%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }
    h2{
        font-weight: 20px;
    }
}
@media(max-width:479px){
    .section-3{
        /* text-align: center; */
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .section-3 a{
        display: none;
    }
}