*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Graphik, sans-serif;
    list-style-type: none;
    text-decoration: none;
}
body{
    background-color: #FFFFFF;
}
img{
    color: #FAF6FD;
    width: 100%;
    position: relative;
    left: 0px;
    margin-bottom: 80px;
}
.img{
    color: #FAF6FD;
    width: 100%;
    position: absolute;
    height: 203px;
}
h1{
    color: #2C1762;
    font-weight: 700;
    font-size: 51.2px;
    font-style: normal;
    /* line-height: 40px; */
    margin-bottom: 30px;
    width: 500px;
    position: absolute;
    left: 130px;
    top: 90px;
    animation-name: section-1;
    animation-duration: 1s;
}
@keyframes section-1 {
    from{
        transform: translateY(70px);
    }
    to{
        transform: translateY(0px);
    }
}
@media(max-width:1064px){
    h1{
        top: 60px;
    }
}
@media(max-width:935px){
    h1{
        top: 40px;
    }
}
@media(max-width:798px){
    h1{
        font-size: 45px;
        left: 100px;
        top: 25px;
    }
}
@media(max-width:681px){
    img{
        margin-bottom: 50px;
    }
    h1{
        /* border: 2px solid red; */
        width: 400px;
        font-size: 30px;
        left: 30px;
        top: 40px;
    }
}
@media(max-width:418px){
    h1{
        top: 20px;
        width: 200px;
        font-size: 20px;
    }
}
@media(max-width:320px){
    h1{
        top:20px
    }
}
@media(max-width:290px){
    h1{
        font-size: 17px;
        left: 20px;
        top: 10px;
    }
}
@media(max-width:243px){
    h1{
        top: 10px;
        font-size: 15px;
    }
}


/* section-2 */
.section-2{
    width: 90%;
    margin: auto;
    display: block;
    gap: 7em;
}
.section-2 h3{
    font-size: 22px;
    font-weight: 600;
    color: #2C1762;
}
.section-2 p{
    font-size: 16px;
    font-weight: 400;
}
.section-2 div{
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
    background-color: #FFFFFF;
}
@media(max-width:600px){
    .section-2 h3{
    font-size: 18px;
    }
}





.section-3{
    background-color: #EDFEFC;
    padding: 120px;
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    margin-top: 200px;
    margin-bottom: 60px;
}
.section-3 h2{
    margin-bottom: 80px;
    color: #2C1762;
    font-size: 30px;
    font-weight: 600;
    /* border: 2px solid red; */
    animation-name: text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.section-3 a{
    background-color: #FB0475;
    padding: 20px;
    font-size: 22px;
    font-weight: 400;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.section-3 a:hover{
    background-image: linear-gradient(90deg,#461565, #E80673);
    /* animation-name: hover; */
    animation-duration: 10s;
}
@keyframes hover {
    from{
        transform: s(10px);
    }
    to{
        transform: translate(10px);
    }
}

@keyframes text{
    from{
        transform: translate3d(0px);
    }
    to{
        transform: translate3d(200px);
    }
}
@media(max-width:1083px){
    .section-3{
        width: 95%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }
    h2{
        font-weight: 20px;
    }
}
@media(max-width:479px){
    .section-3{
        /* text-align: center; */
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .section-3 a{
        display: none;
    }
}


/* footer */
footer{
    background-color: #2C1762;
    padding-top: 80px;
    padding-bottom: 80px;
    display: block;
    align-items: center;
}
.footer{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    margin: auto;
    /* border:  4px solid red; */
}

.part-1 .logo{
    width: 120px;
    /* border: 2px solid green; */
    margin-bottom: 40px;
}
.nigeria{
    border: 1px solid #ffff;
    display: flex;
    gap: 1em;
    height: 50px;
    margin-bottom: 40px;    
}
.flag{
    /* font-size:px; */
    border:  2px solid red;
}
.nigeria p{
    font-size: 15px;
    font-weight: 400;
    color: #B48CFC;
}
.part-1 h4{
    font-size: 16px;
    font-weight: 600;
    color: #B48CFC;
    margin-bottom: 20px;
}
.part-1 a{
    font-size: 14px;
    font-weight: 500;
    color: #ffff;
    border-bottom: 3px solid #B48CFC;
    margin-bottom: 20px;
}
.part-1 p{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.part-2{
    height: 300px;
}
.part-2 h2{
    color: #B48CFC;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 17px;
}
.part-2 li{
    font-size: 14px;
    /* border: 2px solid red; */
    /* width: 130px; */
    font-weight:500;
    color: white;
    margin-bottom: 15px;
}

.q{
    font-size: 15px;
    font-weight:500;
    color: white;
    margin-bottom: 15px;
    text-decoration: none;
}



footer .accordion{
    width: 95%;
    margin: auto;
    display: none;
}
footer .part-6 h2{
    color: #7a50c7;
    font-size: 25px;
    font-weight: 700;
    /* margin-bottom: 17px; */
}
.r{
    font-size: 15px;
    font-weight:500;
    color: black;
    margin-bottom: 15px;
    text-decoration: none;
}




@media(max-width:1200px){
    .footer{
        gap: 7em;
    }
}
@media(max-width:980px){
    .footer{
        gap: 5em;
    }
}
@media(max-width:835px){
    .footer{
        gap: 3em;
    }
}
@media(max-width:700px){
    .footer{
        display: none;
    }
    footer .accordion{
        display: block;
    }
}


.last{
    color: #BAB4C7;
    font-size: 10px;
    font-weight: 400;
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

